@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: 'Exo 2', Arial, sans-serif;
}


@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Exo 2';
  src: url('/fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}


.icon{
  filter: drop-shadow(0 20px 13px rgba(0,0,0,0.15)) drop-shadow(0 8px 5px rgba(0,0,0,0.10));
}

.textHeaderColor {
  color: rgb(116, 0, 0);
}

.textParagraph {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0;
  width: 34rem;;
  margin-left: auto;
  margin-right: auto;
}

.fontBold {
  font-family: "Exo 2", Arial sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fontLight {
  font-family: "Exo 2", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.pilledText {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8rem;
  max-height: 3em;
  width: fit-content;
  height: 1rem;
  background: transparent;
  border: 1px solid #740000;
  border-radius: 9999px;
  color: #000;
  font-size: 0.6rem;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  transition: background 0.2s, color 0.2s;
  padding: 0.25em 1em;
}

.pilledText:hover{
  opacity: 0.7;
  transform: translateY(-1px) scale(1.025);
  color: rgb(116, 0, 0);
  transition:
      color 0.1s,
      font-weight 0.1s,
      opacity 0.1s,
      transform 0.1s;
}